.vaga-emprego {
    padding:  0 3rem 1rem 3rem;
    
 
  }
  
  .vaga-emprego-categoria {
    font-size: 1.12rem;
      font-weight: 700;
      color: var(--cor-preto-azulado);
  }
  
  .informacoes {
    border: 1px solid var(--cor-cinza-claro);
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
  
  }
  
  .informacoes-titulo {
    margin-top: 0;
    font-size: 1rem;
    font-weight: 600;
    color: var(--cor-preto-azulado);
  }
  
  .informacoes-subtitulo {
    font-size: .875rem;
    font-weight: 600;
    color: var(--cor-cinza-medio);
  
  }
  .informacoes-subtitulo-2 {
    margin-left: 1rem;
      font-size: .875rem;
      font-weight: 600;
      color: var(--cor-cinza-medio);
  }
  